
<h2><strong>{{alunodados.nome | uppercase}}</strong></h2>
<div>
  <label for="nome">Nome do estudante : </label>
  <input type="text" id="nome" [(ngModel)]="alunodados.nome" placeholder="name">
</div>
<div>
  <label for="RA">RA : </label>
  <input type="number" id="RA" [(ngModel)]="alunodados.RA" placeholder="RA">
</div>
<div>
  <label for="idade">Idade : </label>
  <input type="number" id="idade" [(ngModel)]="alunodados.idade" placeholder="idade">
</div>
<div>
  <label for="sexo">Sexo : </label>
  <input type="text" id="sexo" [(ngModel)]="alunodados.sexo" placeholder="sexo">
</div>
<div>
  <label for="turma">Turma : </label>
  <input type="text" id="turma" [(ngModel)]="alunodados.turma" placeholder="turma">
</div>














   